palette = 0=#45475a
palette = 1=#ea7183
palette = 2=#a6e3a1
palette = 3=#68bae0
palette = 4=#b889f4
palette = 5=#f39967
palette = 6=#94e2d5
palette = 7=#a6adc8
palette = 8=#585b70
palette = 9=#ea7183
palette = 10=#96d382
palette = 11=#68bae0
palette = 12=#b889f4
palette = 13=#f39967
palette = 14=#94e2d5
palette = 15=#bac2de
background = #1a1c2a
foreground = #b5c1f1
cursor-color = #f5e0dc
cursor-text = #1e1e2e
selection-background = #353749
selection-foreground = #cdd6f4

font-family = MesloLGS Nerd Font
font-size = {{ .ghostty.fontsize }}
font-thicken = true

keybind = super+alt+k=goto_split:up
keybind = super+alt+j=goto_split:down
keybind = super+alt+l=goto_split:right
keybind = super+alt+h=goto_split:left

keybind = super+ctrl+k=resize_split:up,20
keybind = super+ctrl+j=resize_split:down,20
keybind = super+ctrl+l=resize_split:right,20
keybind = super+ctrl+h=resize_split:left,20

keybind = super+up=scroll_to_top
keybind = super+down=scroll_to_bottom




